
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/sotbot-web.iml
.idea/vcs.xml
.idea/workspace.xml
conf.json
views/basic-login.html
static/favicon.ico
static/css/sot.css
*.log
/static/js/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/discord.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sqldialects.xml
utilities/blacklist-to-sql/blacklist.csv
