<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sea of Thieves RU">
    <meta name="author" content="Sea Of Thieves RU">
    <link rel="icon" href="../static/favicon.ico">

    <title>Sea of Thieves RU - Чёрный список</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
    
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/sot.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Sea of Thieves RU</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="#">Чёрный список</a>
            <a class="nav-link" href="https://discord.gg/sotru">Discord Server</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover page-hero_snippet container align-center content-block" style="width: auto">
      <div class="cover">
        <h2>Чёрный список рейда</h2>
      </div>
      <div class="component-spacing table-responsive">
        <table
                id="table"
                data-toggle="table"
                data-pagination="true"
                data-search="true"
                data-sortable="true"
                data-page-size="50"
                data-sortable="true"
                class="table table-striped">
            <thead>
              <tr>
                <th data-sortable="true" scope="col">ID</th>
                <th data-sortable="true" scope="col">DiscordID</th>
                <th data-sortable="true" scope="col">Ник в дискорде</th>
                <th data-sortable="true" scope="col">Xbox</th>
                <th data-sortable="true" data-sorter="datesSorter" scope="col">Дата</th>
                <th data-sortable="true" scope="col">Забанен</th>
                <th data-sortable="true" scope="col" data-width="30%">Причина</th>
                <th data-sortable="true" scope="col">Пруфы</th>
              </tr>
            </thead>
            <tbody>
              {{range .Entries}}
                <tr>
                  <th scope="row">{{ .Id }}</th>
                  <th>{{ .DiscordId }}</th>
                  <th>{{ .DiscordUsername.String }}</th>
                  <th>{{ .Xbox.String }}</th>
                  <th>{{ .DateString }}</th>
                  <th>{{ .ModeratorName }}</th>
                  <th>{{ .Reason }}</th>
                  <th>
                    {{if not (eq .AdditionalName "null")}}
                      <a href="{{.Additional.String}}">{{.AdditionalName}}</a>
                    {{end}}
                  </th>
                </tr>
              {{end}}
            </tbody>
          </table>
        <script>
          function datesSorter(a, b) {
            a = toddmm(a);
            b = toddmm(b)
            if (Date.parse(a) < Date.parse(b)) return 1;
            if (Date.parse(a) > Date.parse(b)) return -1;
            return 0;
          }

          function toddmm(date) {
            var parts = date.split(".");
            return dt = new Date(parseInt(parts[2], 10),
                    parseInt(parts[1], 10) - 1,
                    parseInt(parts[0], 10));
          }
        </script>
      </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Создано для сообщества <a href="https://discord.gg/sotru">Sea of Thieves RU</a></p>
        </div>
      </footer>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
  </body>
</html>
