<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sea of Thieves RU">
    <meta name="author" content="Sea Of Thieves RU">
    <link rel="icon" href="../static/favicon.ico">

    <title>Sea of Thieves RU - Авторизация</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/sot.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Sea of Thieves RU</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="#">Чёрный список</a>
            <a class="nav-link" href="https://discord.gg/sotru">Discord Server</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover page-hero_snippet container align-center content-block">
			<div class="page-header">
				<div>
					<h2>Добро пожаловать!</h2>
                    <p>Войди с помощью Discord, чтобы пользоваться всеми функциями нашего сообщества</p>
					<a class="link button" href="{{ .OAuth}}">Войти</a>
				</div>
                <div>
                    <a class="link" data-toggle="collapse" href="#data-policy" role="button" aria-expanded="false" aria-controls="data-policy">Какую информацию мы собираем?</a>
                </div>
                <div class="collapse card" id="data-policy">
                    <p>
                        Привязка аккаунта через сайт позволяет нам в автоматическом режиме проверять ваши Xbox-аккаунты
                        во избежание попадания в рейды участников, находящихся в чёрном списке.
                    </p>
                    <p>
                        <b>Мы храним в нашей базе данных следующие данные:</b>
                    </p>
                    <ul>
                        <li><b>Идентификатор Discord учётной записи,</b> с помощью который вы авторизовались</li>
                        <li><b>Теги игрока Xbox,</b> которые привязаны к вашей учётной записи Discord</li>
                        <li><b>Ваш IP-адрес</b></li>
                    </ul>
                    <p>
                        Все эти данные мы собираем и храним только с целью технического анализа системы и защиты добросовестных
                        пользователей от недобросовестных. <b>Мы не передаём ваши данные третьим лицам.</b>
                    </p>
                    <p>
                        <b>Обратите внимание, что ваши пароли не передаются нам, вы вводите их на сайте Discord.
                            <a href="https://oauth.net/2/">Подробнее о протоколе OAuth 2, благодаря которому это возможно.</a></b>
                    </p>
                </div>
			</div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Создано для сообщества <a href="https://discord.gg/sotru">Sea of Thieves RU</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
